.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
}


#display {
  width: 90%;             
  margin: 0 auto 20px;    
  height: 40px;
  font-size: 24px;
  text-align: center;     
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: block;         
}



.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #f5f5f5;
}

